[submodule "src/libc"]
	path = deps/libc
	url = https://github.com/jkent/embeddedartistry-libc.git
[submodule "src/libmemory"]
	path = deps/libmemory
	url = https://github.com/embeddedartistry/libmemory.git
